services:

  django-web:
    build: .
    env_file:
      - ./.env
    environment:
      - GOTENBERG_URL=http://gotenberg:3000
    restart: always
    volumes:
      - ./static:/app/static:rw
      - ./media:/app/media:rw
    depends_on:
      - gotenberg

  django-qcluster:
    build: .
    command: python manage.py qcluster
    env_file:
      - ./.env
    restart: always
    volumes:
      - ./media:/app/media:rw
    depends_on:
      - django-web

  nginx:
    image: nginx:latest
    ports:
      - "${PORT_80}:80"
      - "${PORT_443}:443"
    restart: always
    volumes:
      - "${NGINX_CONF_PATH}:/etc/nginx/nginx.conf:ro"
      - ./static:/static:ro
      - ./media:/media:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - django-web

  gotenberg:
    image: gotenberg/gotenberg:7
    restart: always
    ports:
      - "3000:3000"
