{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="text-center">

            <h1> Odzyskaj hasło </h1>
            <hr>
            <p>Na wskazany adres email zostaną przesłane dalsze instrukcje.</p>


            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col col-md-4"></div>
                    <div class="col col-md-4">
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary" value="Wyślij">
                    </div>
                    <div class="col col-md-4"></div>
                </div>
            </form>

            <small class="text-muted">
                <a class="ml-2" href="{% url 'login' %}">Powrót do logowania</a>
            </small>

        </div>
    </div>
{% endblock %}