<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Prace Kół Naukowych - Odzyskiwanie hasła</title>
</head>

<body>

<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;">
    <tr>
        <td align="center" bgcolor="#ffffff" style="padding:30px">
            <p style="text-align:left">Szanowny Panie/Pani</p>
            <p> W celu odzyskania dostępu do konta zarejestrowanego na stronie
                <br>
                <a href="{{ protocol }}://{{ domain }}">Projekty Kół Naukowych Politechniki Rzeszowskiej</a>
                <br>
                należy wejść w poniższy odnośnik:
                <br>
                <br>
                <a target="_blank"
                   style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;"
                   href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    <strong>Kliknij aby odzyskać hasło</strong></a>
                <br>
                <br>
            <p style="text-align:left">
                <a href="{{ protocol }}://{{ domain }}/contact">Zespół Prace Kół Nakowych Politechiniki Rzeszowskiej</a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>