body {
    background-color: white;
}

#list {
    background-color: #b3f2f0;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ebeef2;
    text-align: center;
}

.site_logo {
    width: 100px;
    height: 40px;
}

.alert-div {
    text-align: center;
    width:400px;
}

#main {
    /* top right bottom left*/
    margin: 100px 150px 80px 150px;
}


#main .jumbotron {
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    background: #ededed;
}

.btn {
    width: 250px;
    height: 55px;
    font-size: 20px;
}

#login{
	width:32%;
}

	

