{% extends "admin/base_site.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <form method='POST' class="post-form">
        {% csrf_token %}

        <div class="row mb-2">
            <div class="col-md-1 offset-md-9">
                <a href="/admin">
                    <button type="button" class="btn btn-secondary ">Powrót</button>
                </a>
            </div>
            <div clas="col-md-1">
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </div>
        </div>


        <div class="row my-2">
            <div class="col-md-3">
                <h5>Temat wiadomości</h5>
            </div>
            <div class="col-md-8">
                {{ form.subject|add_class:'form-control' }}
            </div>
        </div>

        <div class="row my-2">
            <div class="col-md-3">
                <h5>Grupa adresatów</h5>
            </div>
            <div class="col-md-8">
                {{ form.recipients|add_class:'form-control' }}
            </div>
        </div>

         <div class="row my-2">
            <div class="col-md-3">
                <h5>Treść</h5>
            </div>
            <div class="col-md-8">
                {{ form.content|add_class:'form-control' }}
            </div>
        </div>

    </form>
{% endblock %}