{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col text-center">
                <h1> Czy na pewno usunąć konto? </h1>
                <hr>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <form method='POST'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Usuń konto"/>
                </form>
            </div>
            <div class="col-md-6">
                <a href="{% url 'profile' %}">
                    <div class="btn btn-warning"/>
                    Anuluj</div>
            </a>
        </div>
    </div>

    </div>
{% endblock %}