{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <h1>Kontakt</h1>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <hr class="my-1">

    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <p>Telefon: {{ admin_phone }}</p>
        </div>
        <div class="row">
            <p>Email: {{ admin_mail }}</p>
        </div>
    </div>
    <br>

{% endblock %}
