{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container my-3 row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1> Zaloguj się </h1>
            <hr>
            <form method='POST' class="post-form">
                {% csrf_token %}

                {{ form|crispy }}

                <input type="submit" class="btn btn-primary btn-block" value="Zaloguj" name="Log"/>
            </form>

            <br>

            <small class="text-muted">
                <p>
                    <a href="{% url 'register' %}">Formularz rejestracyjny</a>
                    <br>
                    <a href="{% url 'password_reset' %}">Odzyskaj hasło</a>
                </p>
            </small>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}