{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-3">

	<div class="row text-center">
		<div class="col">
			<h2>Nowy referat</h2>
			<hr>
		</div>
	</div>

	<div class="row text-center">
		<div class="col">
			<form method="POST" class="post-form" enctype="multipart/form-data">
				<div class="container">
					<div class="card">
						<div class="card-body">
							 {% crispy form %}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>



<!--
	<div class="col-md-12 text-center">

	<h2>Nowy referat</h2>
	<hr>
	<br></br>

	<form method='POST' class="post-form">
		{% csrf_token %}
		<div class="offset-2" style="width:67%;">
			{{ form|crispy }}
		</div>

		<div class="offset-4" style="width:30%;">
			<input type="submit" class="btn btn-primary btn-block" value="Dodaj" name="Log"/>
			<a class="nav-link" href="indexLog"></a>
		</div>

		<div class="text-center w-25 offset-4">
		<input type="submit" class="btn btn-primary btn-block" value="Dodaj" name="Log"/>
		</div>

	</form>
	 </div>
-->
</div>

{% endblock %}