{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-3">

	<div class="row text-center">
		<div class="col text-primary">
			<h2>Nowa recenzja</h2>
			<br>
			<hr>
		</div>
	</div>

	<div class="row text-center">
		<div class="col">
			<h4>Informacje o referacie</h4>
		</div>
	</div>

	<div class="row text-center">
		<div class="col">
			<hr>
		</div>
	</div>

	<div class="row text-center">
		<div class="col">
			<h7>Tytuł:</h7>
		</div>
	</div>

	<div class="row text-center">
		<div class="col">
			<h7>Autorzy:</h7>
		</div>
	</div>


	<div class="row text-center">
		<div class="col">
			<br>
			<hr>
		</div>
	</div>

	<div class="row text-center">
		<div class="col">
			<h4>Recenzja</h4>
		</div>
	</div>

	<div class="row text-center">
		<div class="col">
			<hr>
		</div>
	</div>


	<div class="row text-center">
		<div class="col">
			<form method='POST' class="post-form">

				{% csrf_token %}
				<div class="offset-2" style="width:67%;">
					{{ form|crispy }}
				</div>

				<hr>

				<input type="submit" class="btn btn-success" value="Dodaj" name="Log"/>

			</form>
		</div>
	</div>

</div>

{% endblock %}