{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container w-50">
	<div class="col text-center">

	<h1> Edycja referatu </h1>
	<hr>
	
	<!-- detect which button is clicked -->

	<form method='POST' class="post-form">
		{% csrf_token %}

		{{ form|crispy }}
		<input type="submit" class="btn btn-primary btn-block" value="Zmień referat" name="Log"/>
	</form>

	<small class="text-muted">
		Zmieniłeś zdanie? <a class="ml-2" href="#">Powrót do referatów</a>
	</small>

	 </div>
</div>
{% endblock %}