{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container w-50">

        <div class="row">
            <div class="col text-center">
                <h1> Czy na pewno chcesz usunąć referat: <br> <span class="text-primary"> {{ paper.title }} </span></h1>

                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form method='POST'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-block w-100" value="Usun referat"/>
                </form>
            </div>

            <div class="col">
                <form action="{% url 'paperDetail' paper.pk %}">
                    <input type="submit" class="btn btn-warning btn-block w-100" value="Anuluj"/>
                </form>
            </div>
        </div>

    </div>
{% endblock %}