{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container w-50">

        <div class="row">
            <div class="col text-center">
                <h1> Czy na pewno chcesz usunąć recenzję referatu: <span class="text-danger">{{ paper.title }}?</span>
                </h1>
                <hr>
                {{ review.text|safe }}
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form method='POST'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-block" value="Usun recenzję"/>
                </form>
            </div>

            <div class="col">
                <form action='{% url "paperList" %}'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-warning btn-block" value="Anuluj"/>
                </form>
            </div>
        </div>

    </div>
{% endblock %}