{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container w-50">

        <div class="row">
            <div class="col text-center">
                <h3>
                    Czy na pewno usunąć recenzję od {{ review.author.first_name }} {{ review.author.last_name }}
                    do referatu:
                    <span class="text-danger">
                            {{ paper.title }}
                    </span>
                </h3>
                <hr class="my-2">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form method='POST'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-block" value="Tak usuń"/>
                </form>
            </div>

            <div class="col">
                <a href="{% url 'paperDetail' paper.id %}">
                    <input type="submit" class="btn btn-warning btn-block" value="Anuluj"/>
                </a>
            </div>
        </div>

    </div>
{% endblock %}