{% extends "base.html" %}
{% load custom_papers_tags %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/messaging.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 text-left">
            <h4>Informacje o artykule</h4>
        </div>
        <div class="col-md-4 offset-md-2 text-right">
            {% if user == paper.author %}
                <div class="btn-group mb-4 float-right" role="group" aria-label="Akcje artykułu">
                    <a class="btn btn-danger" href="{% url 'paperDelete' paper.pk %}">Usuń</a>
                    <a class="btn btn-primary" href="{% url 'paperEdit' paper.pk %}">Edytuj</a>
                    <a class="btn btn-outline-secondary" href="{% url 'paperPDFForm' paper.pk %}">Dane do oświadczeń</a>
                </div>
            {% endif %}
        </div>
    </div>
    <hr class="my-2">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Tytuł:</h5>
        </div>
        <div class="col-md-8 text-left">
            <p> {{ paper.title }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Autorzy:</h5>
        </div>
        <div class="col-md-8 text-left">
            <ul>
                    <li>
                        <div class="row ml-1">
                            {{ paper.author.first_name }} {{ paper.author.last_name }} - udział {{paper.author_percentage}}%
                        </div>
                    </li>
                {% for author in paper.coauthor_set.all %}
                    <li>
                        <div class="row ml-1">
                            <a href="mailto:{{ author.email }}">{{ author.name }} {{ author.surname }}</a> &nbsp; - udział {{author.percentage}}%
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Słowa kluczowe:</h5>
        </div>

        <div class="col-md-8 text-left">
            <p> {{ paper.keywords }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Koło naukowe:</h5>
        </div>

        <div class="col-md-8 text-left">
            <p> {{ paper.club.name }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Status:</h5>
        </div>

        <div class="col-md-8 text-left">
            {% if paper.approved == True %}
                <p class="text-success">Gotowy</p>
            {% else %}
                <p class="text-danger">W przygotowaniu</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Data dodania:</h5>
        </div>

        <div class="col-md-8 text-left">
            <p> {{ paper.created_at|date:"d/m/Y G:i" }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Data modyfikacji:</h5>
        </div>

        <div class="col-md-8 text-left">
            <p> {{ paper.updated_at|date:"d/m/Y G:i" }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Recenzenci:</h5>
        </div>

        <div class="col-md-8 text-left">

            {% if paper.reviewers.all.count == 0 %}
                <span class="text-muted">Brak</span>
            {% else %}
                <ul>
                    {% for reviewer in paper.reviewers.all %}
                        <li>
                            <div class="row ml-1">
                                {{ reviewer.first_name }} {{ reviewer.last_name }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Przesłane pliki:</h5>
        </div>

        <div class="col-md-8 text-left">

            {% if paper.uploadedfile_set.all.count == 0 %}
                <span class="text-danger">Brak plików</span>
            {% else %}
                <ul style="word-wrap: break-word;">
                    {% for file in paper.uploadedfile_set.all %}
                        <li>
                        {% if file.pk == paper.statement %}
                            <a href="{% url 'paperFileDownload' pk=paper.id item=file.id %}"> Oświadczenie </a>
                        {% else %}
                            <a href="{% url 'paperFileDownload' pk=paper.id item=file.id %}">{{ file.filename }}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Streszczenie:</h5>
        </div>
        <div class="col-md-8">
            {{ paper.description|safe }}
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-12 text-left offset-md-1">
            <h4>Recenzje</h4>
        </div>
    </div>

    <hr class="my-2">

    <div class="row">
        <div class="col-md-12">
            {% if reviews|length < 1 and not user.is_staff and not user|is_in_group:'reviewer' %}
                <span class="badge bg-secondary">Brak recenzji</span>
            {% else %}
                <ul class="nav nav-pills justify-content-center">
                    {% if user.is_staff %}
                        <li class="nav-item m-2">
                            <a data-toggle="tab" href="#admin-assign-reviewers"
                               class="badge bg-info text-dark p-2">
                                <h5>Przypisz recenzentów</h5>
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_staff or user == paper.author or user|is_in_group:'reviewer' %}
                        {% for reviewer in paper.reviewers.all %}
                            <li class="nav-item m-2">
                                <a data-toggle="tab" href="#review-{{ reviewer.pk }}"
                                   class="badge bg-info text-dark p-2 review-tab" data-reviewer="{{ reviewer.pk }}">
                                    <h5>{{ reviewer.first_name }} {{ reviewer.last_name }}</h5>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <div class="col-md-12">
            {% if reviews|length > 0 or user.is_staff or user|is_in_group:'reviewer' %}
                <div class="tab-content p-1">
                    {% if user.is_staff %}
                        <div id="admin-assign-reviewers" class="tab-pane fade text-center">
                                    <span class="text-muted">
                                        Aby wybrać kilku recenzentów(maksymalnie 2) należy przytrzymać klawisz Control.
                                        <br>
                                        Liczba w nawiazie przy nazwisku oznacza ilość przypisanych już prac do recenzenta
                                    </span>
                            <div id="admin-assign-reviewers-div" class="my-4"></div>
                            <button id="admin-assign-reviewers-submit" type="button" class="btn btn-primary">
                                Zapisz
                            </button>
                            <button id="admin-assign-reviewers-clear" type="button" class="btn btn-primary">
                                Wyczyść
                            </button>
                        </div>
                    {% endif %}

                    {% for reviewer in paper.reviewers.all %}
                        <div id="review-{{ reviewer.pk }}" class="tab-pane fade review-box" data-reviewer="{{ reviewer.pk }}"></div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if paper.reviewers.all|length > 0 %}

        <div class="row mt-5">
            <div class="col-md-12 text-left offset-md-1">
                <h4>Wiadomości</h4>
            </div>
        </div>

        <hr class="my-2">

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-tabs nav-fill">
                    {% if user|is_in_group:'reviewer' and user != paper.author %}
                        <li class="nav-item m-2">
                            <a data-toggle="tab" href=".messagebox" class="nav-link message_link m-2"
                               data-reviewer="{{ user.pk }}">
                                Konwersacja z autorami
                            </a>
                        </li>
                    {% else %}
                        {% for reviewer in paper.reviewers.all %}
                            <li class="nav-item">
                                <a data-toggle="tab" href=".messagebox" class="nav-link message_link m-2"
                                   data-reviewer="{{ reviewer.pk }}">
                                    {{ reviewer.first_name }} {{ reviewer.last_name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content p-4">
                    <div class="tab-pane fade messagebox">
                        <div id="messages_box" class="bg-white container p-4"></div>
                        <div class="input-group">
                         <textarea id="input_message" placeholder="Wprowadź wiadomość"
                                   aria-describedby="send_message_button"
                                   class="form-control rounded-0 border-0 py-4 bg-light"></textarea>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <button id="send_message_button" class="btn btn-primary">Wyślij</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            send_message_url = "{% url 'send_message' %}";
            get_messages_url = "{% url 'get_messages' %}";
            render_message_url = "{% url 'render_messages' %}";
            Username = "{{ user.username }}";
            PaperId = "{{ paper.pk }}";
            ReviewerId = 0;
        </script>

    {% endif %}

    <script>is_staff = {{ user.is_staff|lower }};</script>
    <script src="{% static  'js/messaging.js' %}"></script>
    <script src="{% static  'js/papers.js' %}"></script>

    <div class="row text-center my-5">
        <div class="col-md-4">
            {% if prev %}
                <a href="{% url 'paperDetail' prev %}?id={{ prev_id }}{{ queryset_pks }}">
                    <button type="button" class="btn btn-warning btn-lg">Poprzedni</button>
                </a>
            {% endif %}
        </div>
        <div class="col-md-4">
            <a href="{% url 'paperList' %}">
                <button type="button" class="btn btn-secondary btn-lg">Lista artykułów</button>
            </a>
        </div>
        <div class="col-md-4">
            {% if next %}
                <a href="{% url 'paperDetail' next %}?id={{ next_id }}{{ queryset_pks }}">
                    <button type="button" class="btn btn-primary btn-lg">Następny</button>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}