{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <h2>Dodaj referat</h2>
            </div>
        </div>

        <hr class="my-3">

        <div class="row text-center">
            <div class="col-12">
                <div class="py-4">
                    <form method="POST" class="post-form" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% with field=form.title %}
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error|escape }}</span>
                            {% endfor %}
                            <div class="col-md-8 offset-md-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input_title">{{ field.label }}</span>
                                    </div>
                                    {% render_field field placeholder=field.help_text class='form-control' %}
                                </div>
                            </div>
                        {% endwith %}

                        {% with field=form.keywords %}
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error|escape }}</span>
                            {% endfor %}
                            <div class="col-md-8 offset-md-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input_title">{{ field.label }}</span>
                                    </div>
                                    {% render_field field placeholder=field.help_text class='form-control' %}
                                </div>
                            </div>
                        {% endwith %}

                        {% with field=form.club %}
                            <div class="col-md-8 offset-md-2">
                                {% for error in field.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="{{ field.id_for_label }}">{{ field.label }}</span>
                                    </div>
                                    {{ field|add_class:'custom-select' }}
                                </div>
                            </div>
                        {% endwith %}

                        {% with field=form.description %}
                            <div class="overflow-auto">
                                <h5 class="text-left">
                                <span class="badge badge-secondary">
                                    {{ field.label }}
                                </span>
                                </h5>
                                {% for error in field.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                {{ field }}
                            </div>
                        {% endwith %}

                        <div class="row mt-5">
                            <div class="col-md-3">
                                <h5>
                                    Współautorzy
                                </h5>
                            </div>
                        </div>

                        <hr class="my-2">

                        {{ coAuthorsForm }}

                        <div class="row mt-5">
                            <div class="col-md-3">
                                <h5>
                                    Pliki
                                </h5>
                            </div>
                        </div>

                        <hr class="my-2">

                        {{ filesForm }}

                        <div class="row mt-5 text-center">
                            <div class="col">
                                <input type="submit" name="submit" class="btn btn-success" value="Zapisz"/>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}