{% extends "base.html" %}
{% load custom_papers_tags %}
{% block content %}
<div class="container text-center" style="width:80%">

	{% if user.groups.all.0.name == 'reviewer' %}
	<h2> Wszystkie referaty do Prac Kół Naukowych PRz </h2>
	<hr class="my-4">
	{% else %}
	<h2> Twoje referaty do Prac Kół Naukowych PRz </h2>
	<hr class="my-4">
	{% endif %}


	<div class="col-md-12 text-center ml-2">
		<form action="{% url 'paperCreate' %}">
			<input type="submit" class="btn btn-success" value="Dodaj nowy referat" name="Log"/>
		</form>
		</div>
	<hr class="my-4">

	<!-- ordered list to send imformations -->
		<div class="col-md-12 text-center">
			{% if papers %}
			<ul>
			<br id="info_list">

				{% for paper in papers %}
				<li style="list-style-type:none;border-style:solid;border-color:#2cd3db;">

					<div class="row mt-0">
						<div class="col text-left">
							<a class="nav-link" style="font-size:25px;" href="{% url 'paperDetail' paper.id %}">{{paper.title}}</a>
						</div>

						<div class="col mt-3 text-left ml-4">
							<h7 style="">Data dodania: {{paper.add_date|date:"d/m/Y G:i" }}</h7>
							<br>
							<h7 style="">Data modyfikacji: {{paper.last_edit_date|date:"d/m/Y G:i" }}</h7>
						</div>
					</div>

					<hr style="background-color:#2cd3db;">

					<div class="row text-left ml-1">
						<div class="col text-left">
							<h5>Autorzy:</h5>
						</div>
					</div>

					<ul>
						{% for author in paper.authors.all %}
							<li>
								<div class="row ml-1">
								{{ author.first_name }} {{ author.last_name }}
								</div>
							</li>
						{% endfor %}
						{% for author in paper.coauthor_set.all %}
							<li>
								<div class="row ml-1">
								{{ author.name }} {{ author.surname }}
								</div>
							</li>
						{% endfor %}
					</ul>
					<br>

					<div class="row text-left ml-1">
						<div class="col">
							<h5>Recenzenci: </h5>
						</div>
					</div>

					<ul>
						{% for review in paper.review_set.all %}
							<li>
								<div class="row ml-1">
								{{ review.author.first_name }} {{ review.author.last_name }}
								</div>
							</li>
						{% endfor %}
					</ul>
					<br>

					<div class="row">
						<div class="col text-left ml-3">
							<p>Status: {{paper.approved}} TODO</p>
						</div>
					</div>

					<div class="row">
						<div class="col text-left ml-3">
							<p>Liczba przesłanych plików:
								{{ paper.uploadedfile_set.all.count }}
							</p>
						</div>

						{% if user|is_in_group:'reviewer' %}
						<div class="col text-right mb-2">
							<form action="{% url 'reviewList' paper.id %}">
							<!-- for Mateusz, enable this button if review exists xD , using {{diable}} or {{enable}} passed by contex -->
							<input type="submit" class="btn btn-warning w-50 h-100 mr-2" value="Recenzje" enable/>
							</form>
						</div>
						{% endif %}

					</div>

					<div class="row">
						<div class="col text-left ml-3">
							<p style = "">Liczba nowych wiadomości: TODO </p>
						</div>

						{% if user|is_in_group:'reviewer' and user not in paper.authors.all%}
						<div class="col text-right mb-2">
							{% if user|already_reviewed:paper %}
								<form action="{% url 'reviewEdit' paper.id user|get_user_review_id:paper  %}">
									<input type="submit" class="btn btn-info w-50 h-100 mr-2" value="Twoja recenzja"/>
									</form>

							{% else %}
								<form action="{% url 'reviewCreate' paper.id %}">
								<input type="submit" class="btn btn-info w-50 h-100 mr-2" value="Dodaj recenzję"/>
								</form>
							{% endif %}
						</div>
						{% endif %}

					</div>


				</li>
				<br></br>
				{% endfor %}

			</ul>
			{% else %}
			<p> Nie masz żadnych referatów </p>
			{% endif %}
		<br></br>
		</div>


	


</div>
{% endblock %}
