{% extends "base.html" %}
{% load custom_papers_tags %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">

        <div class="text-center">
            {% if user|is_in_group:'reviewer' %}
                <h2> Wszystkie referaty do Prac Kół Naukowych </h2>
            {% else %}
                <h2> Przesłane referaty do Prac Kół Naukowych </h2>
            {% endif %}
        </div>
        <hr class="my-4">

        <form method="get">
            <div class="row">
                {% crispy filter.form %}
                <a class="pl-4 pt-4">
                <input class="btn btn-primary" type="submit" value="Wyszukaj"></input>
                </a>
            </div>
        </form>


        <div class="row text-right">
            <div class="col text-left" style="font-size:13px;">
                <span class="text-secondary"> ( Słowa kluczowe podawaj z przecinkami ) </span>
            </div>

            <div class="col">
                <a href="{% url 'paperList' %}"><input class="btn btn-warning" type="submit" value="Wyczyść"></input></a>
            </div>


        </div>


        <div class="row">
            <div class="col text-center">
                <hr>
                <form action="{% url 'paperCreate' %}">
                    <input type="submit" class="btn btn-success w-25" value="Dodaj referat" name="New Paper"/>
                </form>
                <hr>
            </div>
        </div>


        <div class="col-md-12 text-center">
            {% if papers %}
                <ul>
                    <br id="info_list">

                    {% for paper in papers %}
                        <li style="list-style-type:none;border-style:solid;border-color:#2cd3db;">

                            <div class="row mt-0">
                                <div class="col text-left">
                                    <a class="nav-link" style="font-size:25px;"
                                       href="{% url 'paperDetail' paper.id %}">{{ paper.title }}</a>
                                </div>

                                <div class="col mt-3 text-left ml-4">
                                    <h7 style="">Data dodania: {{ paper.add_date|date:"d/m/Y G:i" }}</h7>
                                    <br>
                                    <h7 style="">Data modyfikacji: {{ paper.last_edit_date|date:"d/m/Y G:i" }}</h7>
                                </div>
                            </div>

                            <hr style="background-color:#2cd3db;">

                            <div class="row text-left ml-1">
                                <div class="col text-left">
                                    <h5>Autorzy:</h5>
                                </div>
                            </div>

                            <ul>
                                {% for author in paper.authors.all %}
                                    <li>
                                        <div class="row ml-1">
                                            {{ author.first_name }} {{ author.last_name }}
                                        </div>
                                    </li>
                                {% endfor %}
                                {% for author in paper.coauthor_set.all %}
                                    <li>
                                        <div class="row ml-1">
                                            {{ author.name }} {{ author.surname }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <br>

                            <div class="row text-left ml-1">
                                <div class="col">
                                    <h5>Recenzenci: </h5>
                                </div>
                            </div>

                            <ul>
                                {% for review in paper.review_set.all %}
                                    <li>
                                        <div class="row ml-1">
                                            {{ review.author.first_name }} {{ review.author.last_name }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <br>

                            <div class="row">
                                <div class="col text-left ml-3">
                                    <h6>Słowa kluczowe: </h6>
                                    {{ paper.keywords }}
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col text-left ml-3">
                                    {% if paper.approved == True %}
                                        <p class="text-success"> Gotowy </p>
                                    {% else %}
                                        <p style="color:#ccb910;"> W przygotowaniu </p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-left ml-3">
                                    <p>Liczba przesłanych plików:
                                        {{ paper.uploadedfile_set.all.count }}
                                    </p>
                                </div>

                                {% if user|is_in_group:'reviewer' %}
                                    <div class="col text-right mb-2">
                                        <form action="{% url 'reviewList' paper.id %}">
                                            <!-- for Mateusz, enable this button if review exists xD , using {{diable}} or {{enable}} passed by contex -->
                                            <input type="submit" class="btn btn-warning w-50 h-100 mr-2"
                                                   value="Recenzje" enable/>
                                        </form>
                                    </div>
                                {% endif %}

                            </div>

                            <div class="row">
                                <div class="col text-left ml-3">
                                    <p style="">Liczba nowych wiadomości: TODO </p>
                                </div>

                                {% if user|is_in_group:'reviewer' and user not in paper.authors.all %}
                                    <div class="col text-right mb-2">
                                        {% if user|already_reviewed:paper %}
                                            <form action="{% url 'reviewEdit' paper.id user|get_user_review_id:paper %}">
                                                <input type="submit" class="btn btn-info w-50 h-100 mr-2"
                                                       value="Twoja recenzja"/>
                                            </form>

                                        {% else %}
                                            <form action="{% url 'reviewCreate' paper.id %}">
                                                <input type="submit" class="btn btn-info w-50 h-100 mr-2"
                                                       value="Dodaj recenzję"/>
                                            </form>
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </div>


                        </li>
                        <br></br>
                    {% endfor %}

                    {% with request.get_full_path as querystring %}
                    {% if papers.has_other_pages %}

                        {% if papers.has_previous %}
                            {% if 'title' in  querystring %}
                                {% if 'page' in querystring %}

                                    <a class="btn btn-outline-info" href="{{ querystring|slice_page }}&page=1">Pierwsza</a>
                                    <a class="btn btn-outline-info" href="{{ querystring|slice_page }}&page={{ papers.previous_page_number }}">Poprzednia</a>
                                {% else %}
                                    <a class="btn btn-outline-info" href="{{ querystring }}&page=1">Pierwsza</a>
                                    <a class="btn btn-outline-info" href="{{ querystring }}&page={{ papers.previous_page_number }}">Poprzednia</a>
                                {% endif %}
                                {% else %}
                                <a class="btn btn-outline-info" href="?page=1">Pierwsza</a>
                                <a class="btn btn-outline-info" href="?page={{ papers.previous_page_number }}">Poprzednia</a>
                            {% endif %}
                        {% endif %}

                        {% for num in papers.paginator.page_range %}
                            {% if papers.number == num %}
                                {% if 'title' in querystring %}
                                    {% if 'page' in querystring %}
                                        <a class="btn btn-info" href="{{ querystring|slice_page }}&page={{ num }}">{{ num }}</a>
                                    {% else %}
                                        <a class="btn btn-info" href="{{ querystring }}&page={{ num }}">{{ num }}</a>
                                    {% endif %}
                                {% else %}
                                <a class="btn btn-info" href="?page={{ num }}">{{ num }}</a>
                                {% endif %}

                            {% elif num > papers.number|add:'-4' and num < papers.number|add:'+4' %}
                                {% if 'title' in querystring %}
                                    {% if 'page' in querystring %}
                                        <a class="btn btn-outline-info" href="{{ querystring|slice_page }}&page={{ num }}">{{ num }}</a>
                                    {% else %}
                                        <a class="btn btn-outline-info" href="{{ querystring }}&page={{ num }}">{{ num }}</a>
                                    {% endif %}
                                {% else %}
                                <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
                                {% endif %}

                            {% endif %}
                        {% endfor %}

                        {% if papers.has_next %}
                            {% if 'title' in  querystring %}
                                {% if 'page' in querystring %}
                                    <a class="btn btn-outline-info" href="{{ querystring|slice_page }}&page={{ papers.next_page_number }}">Następna</a>
                                    <a class="btn btn-outline-info" href="{{ querystring|slice_page }}&page={{ papers.paginator.num_pages }}">Ostatnia</a>
                                {% else %}
                                    <a class="btn btn-outline-info" href="{{ querystring }}&page={{ papers.next_page_number }}">Następna</a>
                                    <a class="btn btn-outline-info" href="{{ querystring }}&page={{ papers.paginator.num_pages }}">Ostatnia</a>
                                {% endif %}
                                {% else %}
                                <a class="btn btn-outline-info" href="?page={{ papers.next_page_number }}">Następna</a>
                                <a class="btn btn-outline-info" href="?page={{ papers.paginator.num_pages }}">Ostatnia</a>
                            {% endif %}
                        {% endif %}

                    {% endif %}
                    {% endwith %}


                </ul>
            {% else %}
                <p> Brak przesłanych referatów </p>
            {% endif %}
            <br>
        </div>


    </div>
{% endblock %}
