{% extends "base.html" %}
{% load custom_papers_tags %}
{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Informacje o referacie</h4>
            <hr class="my-2">
        </div>
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Tytuł:&ensp; </h5>
        </div>
        <div class="col-md-8 text-left">
            <p> {{ paper.title }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Autorzy:&ensp; </h5>
        </div>
        <div class="col-md-8 text-left">
            <ul>
                {% for author in paper.authors.all %}
                    <li>
                        <div class="row ml-1">
                            {{ author.first_name }} {{ author.last_name }}
                        </div>
                    </li>
                {% endfor %}
                {% for author in paper.coauthor_set.all %}
                    <li>
                        <div class="row ml-1">
                            {{ author.name }} {{ author.surname }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Recenzenci:&ensp; </h5>
        </div>

        <div class="col text-left">

            {% if paper.review_set.all.count == 0 %}
                <span class="text-danger">Brak recenzji</span>
            {% else %}
                <ul>
                    {% for review in paper.review_set.all %}
                        <li>
                            <div class="row ml-1">
                                {{ review.author.first_name }} {{ review.author.last_name }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Słowa kluczowe:&ensp; </h5>
        </div>

        <div class="col-md-8 text-left">
            <p> {{ paper.keywords }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Status:&ensp; </h5>
        </div>

        <div class="col-md-8 text-left">
            {% if paper.approved == True %}
                <p class="text-success"> Gotowy </p>
            {% else %}
                <p style="color:#ccb910;"> W przygotowaniu </p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Koło naukowe:&ensp; </h5>
        </div>

        <div class="col-md-8 text-left">
            <p> {{ paper.club.name }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Przesłane pliki:&ensp; </h5>
        </div>

        <div class="col-md-8 text-left">

            {% if paper.uploadedfile_set.all.count == 0 %}
                <span class="text-danger">Brak plików</span>
            {% else %}
                <ul>
                    {% for file in paper.uploadedfile_set.all %}
                        <li>
                            <a href="{% url 'paperFileDownload' pk=paper.id item=file.id %}">{{ file.filename }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Data dodania:&ensp; </h5>
        </div>

        <div class="col-md-8 text-left">
            <p> {{ paper.add_date|date:"d/m/Y G:i" }} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Data modyfikacji:&ensp; </h5>
        </div>

        <div class="col-md-8 text-left">
            <p> {{ paper.last_edit_date|date:"d/m/Y G:i" }} </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
            <h5>Opis:</h5>
        </div>
        <div class="col-md-8">
            {{ paper.description|safe }}
        </div>
    </div>



    {% if user in paper.authors.all %}
        <div class="row text-center">

            <div class="col text-right">

                <a class="btn btn-link" href="{% url 'paperEdit' paper.pk %}">Edytuj referat</a>
            </div>
            {% if user.pk == paper.original_author_id %}
                <div class="col text-left">

                    <a class="btn btn-link text-danger" href="{% url 'paperDelete' paper.pk %}">Usuń referat</a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <br>

    {% if user in paper.authors.all or user|is_in_group:'reviewer' %}
        <div class="row mb-2">
            <div class="col text-center">
                <form action="{% url 'reviewList' paper.id %}">
                    <input type="submit" class="btn btn-warning w-25 h-100" value="Zobacz wszystkie recenzje"/>
                </form>
            </div>
        </div>
    {% endif %}


    {% if user|is_in_group:'reviewer' and user not in paper.authors.all %}
        <div class="row">
            <div class="col text-center">
                {% if user|already_reviewed:paper %} <!-- for Mateusz, if reviewer already add review -->
                    <form action="{% url 'reviewEdit' paper.id user|get_user_review_id:paper %}">
                        <input type="submit" class="btn btn-info w-25 h-100" value="Zobacz swoją recenzję"/>
                    </form>
                {% else %}
                    <form action="{% url 'reviewCreate' paper.id %}">
                        <input type="submit" class="btn btn-info w-25 h-100" value="Dodaj recenzję"/>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row mb-2">
        <div class="col text-center mt-2">
            <form action="{% url 'paperList' %}">
                <input type="submit" class="btn btn-secondary w-25 h-100" value="Powrót"/>
            </form>
        </div>
    </div>

{% endblock %}