{% extends "papers/templates/papers/paper_list.html" %}

{% block papers_filter_form %}
    dajsadjadsjijioa
    <form method="get">
        {% csrf_token %}

        {{ filter.form.non_field_errors }}

        {% for hidden_field in filter.form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <table border="1">
            {% for field in filter.form.visible_fields %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                        {{ field.help_text }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <input class="btn btn-primary" type="submit" value="Wyszukaj">
    </form>

{% endblock %}