{% load crispy_forms_tags %}
{% load custom_papers_tags %}
{% load widget_tweaks %}

<div class="box">
    <div class="row text-center">
        <div class="col mt-1">
            <form method='POST' class="post-form" id="review-edit-form">
                {% csrf_token %}
                <div class="row">
                    {% with field=form.correspondence %}
                        <div class="col-md-6">
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error|escape }}</span>
                            {% endfor %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="{{ field.id_for_label }}">{{ field.label }}</span>
                                </div>
                                {{ field|add_class:'custom-select' }}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.originality %}
                        <div class="col-md-6">
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error|escape }}</span>
                            {% endfor %}


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="{{ field.id_for_label }}">{{ field.label }}</span>
                                </div>
                                {{ field|add_class:'custom-select' }}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.merits %}
                        <div class="col-md-6">
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error|escape }}</span>
                            {% endfor %}


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="{{ field.id_for_label }}">{{ field.label }}</span>
                                </div>
                                {{ field|add_class:'custom-select' }}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.presentation %}
                        <div class="col-md-6">
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error|escape }}</span>
                            {% endfor %}


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="{{ field.id_for_label }}">{{ field.label }}</span>
                                </div>
                                {{ field|add_class:'custom-select' }}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.final_grade %}
                        <div class="col-md-6">
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error|escape }}</span>
                            {% endfor %}

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="{{ field.id_for_label }}">{{ field.label }}</span>
                                </div>
                                {{ field|add_class:'custom-select' }}
                            </div>
                        </div>
                    {% endwith %}

                </div>

                <div class="row text-left">
                    <div class="col-md-4 offset-md-1">
                        <h5>
                            Treść recenzji:
                        </h5>
                    </div>
                </div>
                {{ form.text }}
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="text-center col-md-4">
            {% if review %}
                <button id="review-edit-cancel-btn" type="button" class="btn btn-primary">Anuluj</button>
            {% endif %}
            <button id="review-edit-submit" type="button" class="btn btn-success">Zapisz</button>
        </div>
    </div>


</div>

<script>
    {% if review %}
        $("#review-edit-cancel-btn").click(function () {
            $.get("{% url 'reviewDetail' review.id %}", {},
                function (data, status) {
                    if (status == 'success') {
                        $(".box").parent().html(data);
                    }
                });
        });

        $("#review-edit-submit").click(function () {
            var fd = new FormData(document.getElementById('review-edit-form'));
            $.ajax({
                url: "{% url 'reviewEdit' review.pk  %}",
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    $(".box").parent().html(data);
                }
            });
        });

    {% else %}

        $("#review-edit-submit").click(function () {
            var fd = new FormData(document.getElementById('review-edit-form'));
            $.ajax({
                url: "{% url 'reviewCreate' paper.pk  %}",
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    $(".box").parent().html(data);
                }
            });
        });

    {% endif %}
</script>
