<div class="box">

    <div class="row">
        <div class="col text-center">
            <h3>
                Czy na pewno usunąć recenzję?
                <br>
            </h3>
            <hr class="my-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 offset-md-2">
            <form method='POST' id="delete-review-form">
                {% csrf_token %}
                <button type="button" class="btn btn-danger btn-block" id="review-delete-button">
                    Tak usuń
                </button>
            </form>
        </div>

        <div class="col-md-3 offset-md-2">
            <a id="review-delete-cancel-btn">
                <button type="button" class="btn btn-warning btn-block">Anuluj</button>
            </a>
        </div>
    </div>
</div>


<script>
    $("#review-delete-cancel-btn").click(function () {
        $.get("{% url 'reviewDetail' review.pk %}", {},
            function (data, status) {
                if (status == 'success') {
                    $(".box").parent().html(data);
                }
            });
    });

    $("#review-delete-button").click(function () {
        var fd = new FormData(document.getElementById('delete-review-form'));
        $.ajax({
            url: "{% url 'reviewDelete' review.id %}",
            data: fd,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
                $(".box").parent().html(data);
            }
        });
    });
</script>