{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-3">

	<div class="row text-center">
		<div class="col">
			<h2> Recenzje dla : {{ paper.title }}</h2>
			<hr>
			<br>
		</div>
	</div>


	{% for review in reviews %}
		<div class="row text-center">
			<div class="col">
				<hr class="w-50">
				<h4 class="text-primary">{{ review.author.first_name }} {{ review.author.last_name }}</h4>
				<hr class="w-50">
			</div>
		</div>

		<div class="row text-center">
			<div class="col">
				<p>{{ review.text|safe }}</p>
				<hr class="w-25">

				<br>
			</div>
		</div>



	<p class="btn-link">Link do czatu w ramach danej recenzji??</p>

	{% endfor %}

	<div class="row text-center">

		<div class="col">
			{% if not reviews %}
			<h4 class="text-danger"> Ten referat nie ma jeszcze żadnej recenzji </h4>
			{% endif %}
		</div>
	</div>

	<br>
	<div class="row text-center">
			<div class="col">
				<div class="col mt-1">
				<form action="{% url 'paperDetail' paper.id %}">
					<input type="submit" class="btn btn-warning" value="Powrót"/>
				</form>
			</div>
		</div>
	</div>



</div>

{% endblock %}