{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}

{{ formset.management_form|crispy }}

<div class="row mt-5">
    <div class="col-md-3">
        <h5>
            Pliki artykułu
        </h5>
    </div>
</div>

<hr>

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <button type="button" class="btn btn-primary mb-4" id="add_file_btn">Dodaj plik</button>
        {% for form in formset.forms %}
            <div class="formset_row-{{ formset.prefix }} mb-2">
                {% for hidden in form.hidden_fields %}
                    {{ hidden|as_crispy_field }}
                {% endfor %}
                <div class="d-flex align-items-center justify-content-between p-2 border rounded">
                    <div class="flex-grow-1 mr-3">
                        {% render_field form.file class='form-control-file' %}
                    </div>
                    <button type="button" class="btn btn-danger btn-sm remove_file_button">
                        Usuń
                    </button>
                </div>
                {{ form.DELETE }}
            </div>
        {% endfor %}
    </div>
</div>


<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        prefix: '{{ formset.prefix }}',
        add_btn: $('#add_file_btn'),
        remove_btn_class: 'remove_file_button',
    });
</script>