<!DOCTYPE html>
<html lang="pl">

<head>
<meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- add bootstrap framework -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <title>{{title}}</title>
  <!-- can change to django  <link rel="stylesheet" href="styleIndex.css"
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'styleIndex.css' %}"
  -->
  
  {% load static %}  
  <link href="{% static 'css/styleIndex.css' %}" rel="stylesheet">     
  
</head>

<body>

<div class="jumbotron text-center" id="mainText">
<h1> Prace Kół Naukowych PRz </h1>
</div>


<nav class="navbar navbar-expand-sm bg-info navbar-dark">
	<ul class="navbar-nav">

		{% if user.is_authenticated %}
			{% if title == 'indexLog' %}
			<li class="nav-item active">
				<!--<a class="nav-link" href="indexLog">Start</a>-->
				<a class="nav-link" href="{% url 'indexLog' %}">Start</a>
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="referaty">Referaty</a>-->
				<a class="nav-link" href="{% url 'referaty' %}">Referaty</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'profile' %}">Zalogowano jako: {{user.username}} </a>
			</li>

			<li class="nav-item">
				<!-- <a class="nav-link" href="index">Wyloguj</a> -->
				<a class="nav-link" href="{% url 'wylogowany' %}">Wyloguj</a>
			</li>
			{% endif %}

			{% if title == 'referaty' %}
			<li class="nav-item">
				<!--<a class="nav-link" href="indexLog">Start</a>-->
				<a class="nav-link" href="{% url 'indexLog' %}">Start</a>
			</li>

			<li class="nav-item active">
				<!--<a class="nav-link" href="referaty">Referaty</a>-->
				<a class="nav-link" href="{% url 'referaty' %}">Referaty</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'profile' %}">Zalogowano jako: {{user.username}} </a>
			</li>

			<li class="nav-item">
				<!-- <a class="nav-link" href="index">Wyloguj</a> -->
				<a class="nav-link" href="{% url 'wylogowany' %}">Wyloguj</a>
			</li>
			{% endif %}

			{% if title == 'dodajReferat' %}
			<li class="nav-item">
				<!--<a class="nav-link" href="indexLog">Start</a>-->
				<a class="nav-link" href="{% url 'indexLog' %}">Start</a>
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="referaty">Referaty</a>-->
				<a class="nav-link" href="{% url 'referaty' %}">Referaty</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'profile' %}">Zalogowano jako: {{user.username}} </a>
			</li>

			<li class="nav-item">
				<!-- <a class="nav-link" href="index">Wyloguj</a> -->
				<a class="nav-link" href="{% url 'index' %}">Wyloguj</a>
			</li>
			{% endif %}

			{% if title == 'profile' %}
			<li class="nav-item">
				<!--<a class="nav-link" href="indexLog">Start</a>-->
				<a class="nav-link" href="{% url 'indexLog' %}">Start</a>
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="referaty">Referaty</a>-->
				<a class="nav-link" href="{% url 'referaty' %}">Referaty</a>
			</li>

			<li class="nav-item active">
				<a class="nav-link" href="{% url 'profile' %}">Zalogowano jako: {{user.username}} </a>
			</li>

			<li class="nav-item">
				<!-- <a class="nav-link" href="index">Wyloguj</a> -->
				<a class="nav-link" href="{% url 'index' %}">Wyloguj</a>
			</li>
			{% endif %}

		{% else %}
			{% if title == 'index' %}
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'index' %}">Start</a>
				<!--<a class="nav-link" href="index">Start</a>-->
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="logowanie">Logowanie</a>-->
				<a class="nav-link" href="{% url 'logowanie' %}">Logowanie</a>
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="rejestracja">Rejestracja</a>-->
				<a class="nav-link" href="{% url 'rejestracja' %}">Rejestracja</a>

			</li>

			<li class="nav-item">
				<!-- <a class="nav-link" href="kontakt">Kontakt</a> -->
				<a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
			</li>
			{% endif %}

			{% if title == 'logowanie' %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">Start</a>
				<!--<a class="nav-link" href="index">Start</a>-->
			</li>

			<li class="nav-item active">
				<!--<a class="nav-link" href="logowanie">Logowanie</a>-->
				<a class="nav-link" href="{% url 'logowanie' %}">Logowanie</a>
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="rejestracja">Rejestracja</a>-->
				<a class="nav-link" href="{% url 'rejestracja' %}">Rejestracja</a>

			</li>

			<li class="nav-item">
				<!-- <a class="nav-link" href="kontakt">Kontakt</a> -->
				<a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
			</li>
			{% endif %}

			{% if title == 'rejestracja' %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">Start</a>
				<!--<a class="nav-link" href="index">Start</a>-->
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="logowanie">Logowanie</a>-->
				<a class="nav-link" href="{% url 'logowanie' %}">Logowanie</a>
			</li>

			<li class="nav-item active">
				<!--<a class="nav-link" href="rejestracja">Rejestracja</a>-->
				<a class="nav-link" href="{% url 'rejestracja' %}">Rejestracja</a>

			</li>

			<li class="nav-item">
				<!-- <a class="nav-link" href="kontakt">Kontakt</a> -->
				<a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
			</li>
			{% endif %}

			{% if title == 'kontakt' %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">Start</a>
				<!--<a class="nav-link" href="index">Start</a>-->
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="logowanie">Logowanie</a>-->
				<a class="nav-link" href="{% url 'logowanie' %}">Logowanie</a>
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="rejestracja">Rejestracja</a>-->
				<a class="nav-link" href="{% url 'rejestracja' %}">Rejestracja</a>

			</li>

			<li class="nav-item active">
				<!-- <a class="nav-link" href="kontakt">Kontakt</a> -->
				<a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
			</li>
			{% endif %}

			{% if title == 'wylogowany' %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">Start</a>
				<!--<a class="nav-link" href="index">Start</a>-->
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="logowanie">Logowanie</a>-->
				<a class="nav-link" href="{% url 'logowanie' %}">Logowanie</a>
			</li>

			<li class="nav-item">
				<!--<a class="nav-link" href="rejestracja">Rejestracja</a>-->
				<a class="nav-link" href="{% url 'rejestracja' %}">Rejestracja</a>

			</li>

			<li class="nav-item">
				<!-- <a class="nav-link" href="kontakt">Kontakt</a> -->
				<a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
			</li>
			{% endif %}

		{% endif %}


		
		
	</ul>
</nav>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}" style="text-align:center;">{{ message }}</div>
	{% endfor %}
{% endif %}
{% block content %}{% endblock %}

<br></br>

<!--
<footer class="footer" style="background-color:#e2e2e2; position:absolute; bottom:0;width:100%; text-align:center;">
	<div class="container">
		<span class="text-muted">By someone</span>
	</div>
</footer>
-->

<br></br>

<div calss="footer" style="position:fixed;left:0;bottom:0;width:100%;background-color:#ebeef2;text-align:center;">
	<p>© Miłosz Serafin, Jakub Przystasz, Mateusz Rejman</p>
</div>

</body>




</html>