{% extends "base2.html" %}

{% block content %}
<div class="container my-3">
	<div class="col-md-12 text-center">
	
	<!-- detect which button is clicked -->
	<h2>Nowy referat</h2>
	<br></br>
	<form method='POST' class="post-form">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-primary" value="Dodaj" name="Log"/>		
		<input type="submit" class="btn btn-warning" value="Wyczyść" name="Clr"/>
		<a class="nav-link" href="indexLog"></a>
	</form>
	 </div>

</div>
{% endblock %}