<!DOCTYPE html>
<html lang="pl">

<head>
<meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- add bootstrap framework -->
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  
  <!-- can change to django  <link rel="stylesheet" href="styleIndex.css"
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'styleIndex.css' %}"
  -->
  
  {% load static %}  
  <link href="{% static 'css/styleIndex.css' %}" rel="stylesheet">     
  
</head>

<body>

<div class="jumbotron text-center" id="mainText">
<h1> Prace Kół Naukowych PRz </h1>
</div>


<nav class="navbar navbar-expand-sm bg-info navbar-dark">
	<ul class="navbar-nav">
	
		<li class="nav-item active">
			<a class="nav-link" href="indexLog">Start</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" href="referaty">Referaty</a>
		</li>
			
		<li class="nav-item">
			<a class="nav-link">Zalogowano jako: {{imie}} </a>
		</li>
			
		<li class="nav-item">
			<a class="nav-link" href="index">Wyloguj</a>
		</li>
		
	</ul>
</nav>


<div class="container">
	<br></br>
	
	<!-- ordered list to send imformations -->
	<div class="row" id="list">
		<ol id="info_list">
			<li>Test entry hjhkjhjkhjhjkhjkhjhk</li>
			<li>Test entry2 hjhkjhjkhjhjkhjkhjhk</li>
		</ol>
	<br></br>
	

	</div>
</div>

<br></br>

<div calss="footer" style="position:fixed;left:0;bottom:0;width:100%;background-color:#ebeef2;text-align:center;">
	<p>© Miłosz Serafin, Jakub Przystasz, Mateusz Rejman</p>
</div>

</body>




</html>