{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center" id="referatyT">
<h1> Coś tam </h1>

<!-- ordered list to send imformations -->
	<div class="col-md-12 text-center">
		<ul id="info_list">
			<li style="list-style-type:none">hmm</li>
		</ul>
	<br></br>
	
	</div>


</div>

<div class="container">
	<br></br>
	
	<!-- ordered list to send imformations -->
	<div class="row" id="list">
		<ol id="info_list">
			<li>Test entry hjhkjhjkhjhjkhjkhjhk</li>
			<li>Test entry2 hjhkjhjkhjhjkhjkhjhk</li>
		</ol>
	<br></br>
	

	</div>
</div>

{% endblock %}