{% extends "base2.html" %}

{% block content %}
<div class="jumbotron text-center" id="referatyT">
<h1> Twoje referaty do Prac Kół Naukowych PRz </h1>

<!-- ordered list to send imformations -->
	<div class="col-md-12 text-center">
		{%if ref_List %}
		<ul id="info_list">
			
			{% for referat in ref_List %}
			<li style="list-style-type:none;border-style:solid;border-color:#e3dfd5;">

			<h4 style = "text-align:left;"><a class="nav-link" href="{% url 'index' %}">{{ref_List.title}}</a></h4>
			<h5 style = "text-align:left;">{{ref_List.autors}}</h5>
			<p style = "text-align:left;clear: both;">Status: {{ref_List.status}}</p>
			
			</li>
			{% endfor %}
			
		</ul>
		{% else %}
		<p> Nie masz żadnych referatów </p>
		{% endif %}
	<br></br>
	</div>
	
	
	<div class="col-md-12 text-center">
	<form method='GET' action='#'>
		<input type="submit" class="btn btn-success" value="Dodaj nowy referat" name="Log"/>
		<a class="nav-link" href="{% url 'dodajReferat' %}"></a>
	</form>
	</div>
	

</div>
{% endblock %}
