# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mateu\Desktop\Mystyk\Prz_Informatics\Semester4\Data_bases\Project\StronaProjektyKol\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
