# Default ignored files
/shelf/
/workspace.xml
/media/
# Datasource local storage ignored files
/../../../../../../../:\Users\jakub\Documents\GitHub\StronaProjektyKol\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
